* {
    margin: 0;
}

.main {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: cadetblue;
}

.box {
    height: 100px;
    width: 100px;
    background-color: chocolate;
    transition: 2s;
}

.box:hover {
    border-radius: 50%;
    background-color: black;
    transition: 2s;
}