@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box200 {
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font_rubik_pix {
    font-family: 'Rubik Pixels', sans-serif;
}

.font_sedgwick {
    font-family: 'Sedgwick Ave Display', sans-serif;
}

.font_dancing {
    font-family: 'Dancing Script', sans-serif;
}

.font_fjalla {
    font-family: 'Fjalla One', sans-serif ;
}

.font_indie {
    font-family: 'Indie Flower', sans-serif ;
}